/* All site styles. Sorted by elements, then classes, then IDs, each by importance or order on page. */

label {
	display: inline-block;
	margin: 0.5em 0;
}

input[type=number] {
	width: 6em;
}

input:invalid {
	border-color: red;
	border-style: dashed;
}

button {
	padding: 1em;
}

button + button, .notouchie {
	margin-left: 3em;
}

textarea[readonly] {
	background-color: #EEEEEE;
}

.icon {
	font-weight: bold;
	padding: 0 0.25em;
}

.valid {
	color: green;
}

.warning {
	color: orange;
}

.error {
	color: red;
}

.engage {
	font-weight: bold;
}

.toggle, .smallbtn {
	padding: 0.25em 1em;
}

.collapsed {
	display: none;
}

.image-right {
	float: right;
}

.caption {
	display: inline-block;
	font-size: 90%;
	font-style: italic;
	text-align: center;
	width: 100%;
}

#routines-container {
	display: inline-block;
}

#routines-collapsible {
	border: solid #BBBBBB;
	border-width: 0 1px 1px;
	margin-bottom: 0.5em;
	padding: 0.25em 1em;
}

#routines-container fieldset {
	border: 0;
	display: inline-block;
	padding-bottom: 0.5em;
}

#routines-container fieldset label {
	margin-left: 1em;
}

#routines-list label {
	display: block;
	margin: 0.1em;
}

#output > div {
	display: inline-block;
	width: 45%;
}

#output > div:first-of-type {
	padding-right: 4%;
}

#output > div:last-of-type {
	padding-left: 4%;
}

#output textarea {
	width: 95%;
}

#output button {
	float: right;
	margin-right: 4%;
	margin-top: 0.5%;
	padding: 0.1em 1em;
}

#output label {
	font-weight: bold;
}

#routines-output {
	white-space: pre-wrap;
}

#routines-output > div {
	margin-top: 1em;
}